<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

<body>
    
<svg #svg class="main"
width="1280"
height="720"
viewBox="0 0 1280 720"
version="1.1"
id="svg33619"
sodipodi:docname="back.svg"
xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
xmlns="http://www.w3.org/2000/svg"
xmlns:svg="http://www.w3.org/2000/svg">
<defs
  id="defs33616">
  <image
    id="back2"
    width="1280"
    href="https://res.cloudinary.com/dxltpgop9/image/upload/v1689096425/material%20bridge/Bridge_orpdol.svg"
></image> 
<image
    id="back1"
    width="1280"
    href="https://res.cloudinary.com/dxltpgop9/image/upload/v1689095400/material%20bridge/SingleBridge_x5ppw4.svg"
></image> 
<image
    id="boat"
    width="1000"
    href="https://res.cloudinary.com/dxltpgop9/image/upload/v1689101989/material%20bridge/Boat_kqdpv9.svg"
></image> 
  </defs>
<g
  inkscape:label="Layer 1"
  inkscape:groupmode="layer"
  id="layer1">
 <!-- <rect
    style="fill:#ffa82b;fill-opacity:1;stroke:none;stroke-width:1.24105;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:0.635914;stop-color:#000000"
    id="rect33796"
    width="1280"
    height="780"
    x="0"
    y="0"
    ry="0" /> -->
    <g #arena id="arena"></g>
    <g #boat id="boat"></g>
</g>
</svg>

<div #input class="input">
    
    <div class="input-img">
        <svg #inputImg
        version="1.1"
        id="svg26910"
        sodipodi:docname="Untitled drawing (5).svg"
        width="100vh"
        height="14vh"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
       <defs
          id="defs26914">
          <image
                id="one"
                width="100vh"
                href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687543909/material%20bridge/one_i0d2sp.svg"
            ></image> 
            <image
                id="half"
                width="100vh"
                href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687543309/material%20bridge/half_vmakgb.svg"
            ></image> 
            <image
                id="third"
                width="100vh"
                href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687543310/material%20bridge/third_zhpa5y.svg"
            ></image> 
            <image
                id="fourth"
                width="100vh"
                href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687543309/material%20bridge/fourth_ovqzfa.svg"
            ></image> 
            <image
                id="order-btn"
                width="30"
                href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687803976/material%20bridge/menu-btn_m56vux.svg"
            ></image> 
        </defs>
     </svg>
    </div>

    <div class="input-info"> 
        <div></div>
        <div>
            <label for="Pieces">Pieces: </label> 
            <input #inputPieces type="number" id="numbers" class = "nums" name="numbers" min="0" max="20">
        </div>
        
        <div>
            <label for="Size">Size: </label> 
            <select #inputSize name="Size" id="sizes" class="sizes"> 
                <option value=1>1</option> 
                <option value=0.5>1/2</option> 
                <option value=0.333>1/3</option> 
                <option value=0.25>1/4</option> 
                
            </select>
        </div>

        <button #orderBtn class="btn">Order</button>
    </div>
</div>
</body>

<div #playBtn class="playBtn"></div>
<div #nextBtn class="nextBtn"></div>
<div #retryBtn class="retryBtn"></div>
