<!--<p>horizontal-scrollbar works!</p>-->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

<svg
   width="500"
   height="500"
   viewBox="0 0 132.29166 132.29167"
   version="1.1"
   id="svg5"
   sodipodi:docname="horizontal-scrollbar.svg"
   inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  
  <defs
     id="defs2" />
  <g
     id="layer1">
    <rect
       style="fill:#06070f;fill-opacity:1;stroke:none;stroke-width:0.133704;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.267408, 0.267408;paint-order:markers stroke fill;stop-color:#000000"
       id="rect184"
       width="82.697601"
       height="0.42996195"
       x="23.119761"
       y="39.07336" />
    <circle
       style="fill:#06070f;fill-opacity:1;stroke:none;stroke-width:0.134426;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.268852, 0.268852;paint-order:markers stroke fill;stop-color:#000000"
       id="path2873"
       cx="23.537968"
       cy="39.268139"
       r="0.92604166" />
    <circle
       style="fill:#06070f;fill-opacity:1;stroke:none;stroke-width:0.134426;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.268852, 0.268852;paint-order:markers stroke fill;stop-color:#000000"
       id="circle2929"
       cx="105.55884"
       cy="39.268139"
       r="0.92604166" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
       x="21.714813"
       y="46.020699"
       id="start_text"><tspan
         sodipodi:role="line"
         id="start_text_inner"
         style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
         x="21.714813"
         y="46.020699">0</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
       x="100.93887"
       y="46.020699"
       id="end_text"><tspan
         sodipodi:role="line"
         id="end_text_inner"
         style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
         x="100.93887"
         y="46.020699">100</tspan></text>
    <g
       id="dragEl">
      <circle
         style="fill:#e4231e;fill-opacity:1;stroke:none;stroke-width:0.192037;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.384075, 0.384075;paint-order:markers stroke fill;stop-color:#000000"
         id="redCircle"
         cx="64.945274"
         cy="39.2616"
         r="1.3229166" />
      <g
         id="nums">
        <g
           id="g6805"
           transform="translate(0,0.99267914)">
          <g
             id="num2"
             transform="translate(-0.11939192,2.1166667)">
            <rect
               style="fill:#49231e;fill-opacity:0.129436;stroke:none;stroke-width:0.119266;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.238533, 0.238533;paint-order:markers stroke fill;stop-color:#000000"
               id="rect3185"
               width="7.9375"
               height="7.9375"
               x="41.82333"
               y="12.11524"
               ry="1.2153111" />
            <text
               xml:space="preserve"
               style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
               x="43.968925"
               y="18.186544"
               id="num2text"><tspan
                 sodipodi:role="line"
                 id="tspan4259"
                 style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                 x="43.968925"
                 y="18.186544">0</tspan></text>
          </g>
          <g
             id="num3"
             transform="translate(0.03390331,2.1166667)">
            <rect
               style="fill:#49231e;fill-opacity:0.129436;stroke:none;stroke-width:0.119266;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.238533, 0.238533;paint-order:markers stroke fill;stop-color:#000000"
               id="rect3197"
               width="7.9375"
               height="7.9375"
               x="51.399925"
               y="12.11524"
               ry="1.2153111" />
            <text
               xml:space="preserve"
               style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
               x="53.545521"
               y="18.186544"
               id="num3text"><tspan
                 sodipodi:role="line"
                 id="tspan4263"
                 style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                 x="53.545521"
                 y="18.186544">0</tspan></text>
          </g>
          <g
             id="num4"
             transform="translate(0.18719854,2.1166667)">
            <rect
               style="fill:#49231e;fill-opacity:0.129436;stroke:none;stroke-width:0.119266;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.238533, 0.238533;paint-order:markers stroke fill;stop-color:#000000"
               id="rect3195"
               width="7.9375"
               height="7.9375"
               x="60.976521"
               y="12.11524"
               ry="1.2153111" />
            <text
               xml:space="preserve"
               style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
               x="63.122116"
               y="18.186544"
               id="num4text"><tspan
                 sodipodi:role="line"
                 id="tspan4267"
                 style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                 x="63.122116"
                 y="18.186544">0</tspan></text>
          </g>
          <g
             id="num5"
             transform="translate(0.34049377,2.1166667)">
            <rect
               style="fill:#49231e;fill-opacity:0.129436;stroke:none;stroke-width:0.119266;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.238533, 0.238533;paint-order:markers stroke fill;stop-color:#000000"
               id="rect3193"
               width="7.9375"
               height="7.9375"
               x="70.553116"
               y="12.11524"
               ry="1.2153111" />
            <text
               xml:space="preserve"
               style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
               x="72.698715"
               y="18.186544"
               id="num5text"><tspan
                 sodipodi:role="line"
                 id="tspan4271"
                 style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                 x="72.698715"
                 y="18.186544">0</tspan></text>
          </g>
          <g
             id="num6"
             transform="translate(0.49378519,2.1166667)">
            <rect
               style="fill:#49231e;fill-opacity:0.129436;stroke:none;stroke-width:0.119266;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.238533, 0.238533;paint-order:markers stroke fill;stop-color:#000000"
               id="rect3187"
               width="7.9375"
               height="7.9375"
               x="80.129715"
               y="12.11524"
               ry="1.2153111" />
            <text
               xml:space="preserve"
               style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
               x="82.275314"
               y="18.186544"
               id="num6text"><tspan
                 sodipodi:role="line"
                 id="tspan4275"
                 style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                 x="82.275314"
                 y="18.186544">0</tspan></text>
          </g>
          <g
             id="num1"
             transform="translate(-19.425878,2.1166667)">
            <rect
               style="fill:#49231e;fill-opacity:0.129436;stroke:none;stroke-width:0.119266;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.238533, 0.238533;paint-order:markers stroke fill;stop-color:#000000"
               id="rect328"
               width="7.9375"
               height="7.9375"
               x="51.399925"
               y="12.11524"
               ry="1.2153111" />
            <text
               xml:space="preserve"
               style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
               x="53.545521"
               y="18.186544"
               id="num1text"><tspan
                 sodipodi:role="line"
                 id="tspan330"
                 style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                 x="53.545521"
                 y="18.186544">0</tspan></text>
          </g>
          <g
             id="num7"
             transform="translate(48.530061,2.1166667)">
            <rect
               style="fill:#49231e;fill-opacity:0.129436;stroke:none;stroke-width:0.119266;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0.238533, 0.238533;paint-order:markers stroke fill;stop-color:#000000"
               id="rect336"
               width="7.9375"
               height="7.9375"
               x="41.82333"
               y="12.11524"
               ry="1.2153111" />
            <text
               xml:space="preserve"
               style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
               x="43.968925"
               y="18.186544"
               id="num7text"><tspan
                 sodipodi:role="line"
                 id="tspan338"
                 style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-size:5.64444px;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                 x="43.968925"
                 y="18.186544">0</tspan></text>
          </g>
        </g>
        <path
           id="rect352"
           style="fill:#dfdfdf;fill-opacity:1;stroke:none;stroke-width:0.569705;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:1.1394, 1.1394;paint-order:markers stroke fill;stop-color:#000000"
           d="m 33.936429,8.7446858 c -1.772586,0 -3.199804,1.4267012 -3.199804,3.1992882 v 14.49834 c 0,1.772586 1.427218,3.199804 3.199804,3.199804 h 62.392057 c 1.772586,0 3.199805,-1.427218 3.199805,-3.199804 v -14.49834 c 0,-1.772587 -1.427219,-3.1992882 -3.199805,-3.1992882 z m 7.681185,5.1567912 h 47.029687 c 0.897709,0 1.620573,0.722864 1.620573,1.620573 v 7.342704 c 0,0.897709 -0.722864,1.620056 -1.620573,1.620056 H 41.617614 c -0.897709,0 -1.620573,-0.722347 -1.620573,-1.620056 V 15.52205 c 0,-0.897709 0.722864,-1.620573 1.620573,-1.620573 z" />
      </g>
    </g>
  </g>
</svg>

