/* for the 3rd version */
.app {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20px 1fr 20px;
    align-content: start;
    overflow-x : hidden; 

    border-color : #43c0d6;
    border-width : 10px;
    border-style : solid;
    border-radius: 80px;
    background: #43c0d6;

    width : 600px;
}
  
.hs {
    grid-column: 1 / -1;
    list-style: none;
    padding: 0;

    display: grid;
    grid-gap: 10px;
    /* CHECK */
    grid-template-columns: 10px repeat(var(--total), var(--boxSize)) 10px;
    grid-template-rows: 50px;
    
    overflow-x : scroll; 

    scroll-snap-type: x proximity;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.hs:before,
.hs:after {
    content: '';
}  

::-webkit-scrollbar {
    width : 0;
    background : transparent;
}