<!--<p>moons-planets works!</p>-->

<svg
   width="1280"
   height="720"
   viewBox="0 0 1280 720"
   version="1.1"
   id="svg5"
   inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
   sodipodi:docname="moons-planets-arena.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  
  <defs
     id="defs2">
    
      <image
        id="moon"
        width="25"
        height="25"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685045579/moons-planets/moon_pffq1i.svg"
      ></image> 
      <image
        id="planet"
        width="25"
        height="25"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685115038/moons-planets/planet1_tgbbuj.svg"
      ></image> 
      <image
        id="sun"
        width="25"
        height="25"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686254285/moons-planets/sun_lwpdxw.svg"
      ></image> 
      
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1" >
     <rect
       style="fill:#000028;fill-opacity:1;stroke:none;stroke-width:0.632564;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
       id="rect2852"
       width="1280"
       height="720"
       x="0"
       y="0"
       ry="1.1897796" />

     <g #arena id="arena"></g>
     <g #controls id="controls"></g>
     
  </g>
</svg>
