<!--<p>moons-planets works!</p>-->
<body>
<svg class="main" #thesvg
   width="1280"
   height="720"
   viewBox="0 0 1280 720"
   version="1.1"
   id="svg5"
   inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
   sodipodi:docname="moons-planets-arena.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  
  <defs
     id="defs2">
    
      <image
        id="moon"
        width="25"
        height="25"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685045579/moons-planets/moon_pffq1i.svg"
      ></image> 
      <image
        id="planet"
        width="25"
        height="25"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685115038/moons-planets/planet1_tgbbuj.svg"
      ></image> 
      <image
        id="sun"
        width="25"
        height="25"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686254285/moons-planets/sun_lwpdxw.svg"
      ></image> 
      
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1" >
     <rect
       style="fill:#000028;fill-opacity:1;stroke:none;stroke-width:0.632564;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
       id="rect2852"
       width="1280"
       height="720"
       x="0"
       y="0"
       ry="1.1897796" />

     <g #arena id="arena"></g>
     <g #controls id="controls"></g>
     
  </g>
</svg>


<svg class="btns" #inputBtns
   width="100"
   height="400"
   viewBox="0 0 11.906249 105.83333"
   version="1.1"
   id="svg2000"
   inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
   sodipodi:docname="integer-platform-controls.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
<defs
   id="defs1997" />
      <g
   id="g367"
   transform="rotate(-90,34.197543,41.22328)">
  <rect
     style="fill:#c0f4ff;fill-opacity:1;stroke:#c0f4ff;stroke-width:1.40279;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:stroke fill markers;stop-color:#000000"
     id="rect1003"
     width="22.409714"
     height="46.222214"
     x="-24.183718"
     y="-0.60695148"
     transform="rotate(-90)"
     ry="11.204857" />
  <g
     id="minusBtn"
     style="stroke:#23a3ff;stroke-width:0.264583;stroke-dasharray:none;stroke-opacity:1"
     transform="matrix(1.1223951,0,0,1.1283244,-4.9585527,-1.5933577)">
    <rect
       style="fill:#47a8ff;fill-opacity:1;stroke:#47a8ff;stroke-width:0.640618;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers;stop-color:#000000"
       id="rect1015"
       width="10.00559"
       height="12.109485"
       x="7.9121246"
       y="-21.602482"
       transform="rotate(90)"
       ry="5.0292239" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:12.0477px;line-height:1.25;font-family:ChalkboardSE-Light, 'Chalkboard SE', cursive;-inkscape-font-specification:'ChalkboardSE-Light, Chalkboard SE, cursive, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.0920414;stroke-dasharray:none;stroke-opacity:1"
       x="10.675068"
       y="-11.964284"
       id="minusTxt"
       transform="matrix(0,0.97610456,-1.0244804,0,0,0)"><tspan
         sodipodi:role="line"
         id="tspan959"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:12.0477px;font-family:ChalkboardSE-Light, 'Chalkboard SE', cursive;-inkscape-font-specification:'ChalkboardSE-Light, Chalkboard SE, cursive, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.0920414;stroke-dasharray:none"
         x="10.675068"
         y="-11.964284">-</tspan></text>
    <rect #minus
       style="stroke:#47a8ff;stroke-width:0.640618;stroke-dasharray:none;stroke-opacity:1;fill:#47a8ff;fill-opacity:0;stroke-linecap:round;stroke-linejoin:round;stroke-dashoffset:0;paint-order:stroke fill markers;stop-color:#000000"
       id="minusCover"
       width="10.00559"
       height="12.109485"
       x="7.9121246"
       y="-21.602482"
       transform="rotate(90,-5.6475367e-7,-5.6529942e-7)"
       ry="5.0292239" />
  </g>
  <g
     id="plusButton"
     style="stroke:#23a3ff;stroke-width:0.264583;stroke-dasharray:none;stroke-opacity:1"
     transform="matrix(1.370473,0,0,1.1752043,-11.687256,-2.7901808)">
    <rect
       style="fill:#47a8ff;fill-opacity:1;stroke:#47a8ff;stroke-width:0.568064;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers;stop-color:#000000"
       id="rect350"
       width="9.6064596"
       height="9.9174709"
       x="8.6148987"
       y="-37.246048"
       transform="rotate(90)"
       ry="4.1188526" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.6832px;line-height:1.25;font-family:ChalkboardSE-Light, 'Chalkboard SE', cursive;-inkscape-font-specification:'ChalkboardSE-Light, Chalkboard SE, cursive, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.0816171;stroke-dasharray:none"
       x="10.189692"
       y="-30.790009"
       id="plusTxt"
       transform="matrix(0,1.0568638,-0.94619571,0,0,0)"><tspan
         sodipodi:role="line"
         id="tspan905"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.6832px;font-family:ChalkboardSE-Light, 'Chalkboard SE', cursive;-inkscape-font-specification:'ChalkboardSE-Light, Chalkboard SE, cursive, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.0816171;stroke-dasharray:none"
         x="10.189692"
         y="-30.790009">+</tspan></text>
    <rect #plus
       style="stroke:#47a8ff;stroke-width:0.568064;stroke-dasharray:none;stroke-opacity:1;fill:#47a8ff;fill-opacity:0;stroke-linecap:round;stroke-linejoin:round;stroke-dashoffset:0;paint-order:stroke fill markers;stop-color:#000000"
       id="plusCover"
       width="9.6064596"
       height="9.9174709"
       x="8.6148987"
       y="-37.246048"
       transform="rotate(90)"
       ry="4.1188526" />
  </g>
</g>
</svg>

</body>