body {
    display : grid;
    grid-template-columns : 0vw 0vw;
    grid-template-rows : 0vh 0vh;
}

.main {
    width : 100vw;
    height : auto;

    background-color: #000028;
    overflow-x : hidden;
    overflow-y : hidden;
}