body {
    display : grid;
    grid-gap: 0px 10px;
    grid-template-columns: 150px 150px 150px 150px 150px;
}

.app {
    display: grid;
    grid-gap: 10px 0px;
    grid-template-rows: 20px 1fr 20px;
    overflow-y : hidden; 

    border-color : #c0f4ffff;
    border-width : 10px;
    border-style : solid;
    border-radius: 80px;
    background: #c0f4ffff;

    width : 120px;
    height : 400px;
}
  
  
.num {
    grid-row: 1 / -1;
    list-style: none;
    padding: 0;

    display: grid;
    grid-gap: 10px;
    
    grid-template-rows: 10px repeat(var(--total), var(--boxSize)) 10px;
    grid-template-columns: minmax(67px, 1fr);
    
    overflow-y : scroll; 

    scroll-snap-type: y proximity;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


::-webkit-scrollbar {
    width : 0;
    background : transparent;
}

.hs:before,
.hs:after {
    content: '';
}  


.equation {
    display: grid;
    grid-gap: 10px 0px;
    grid-template-columns: 20px 1fr 20px;

    overflow-x : hidden;

    border-color : #c0f4ffff;
    border-width : 5px;
    border-style : solid;
    border-radius: 80px;
    background: #c0f4ffff;

    width : 300px;
    height : 90px;
}
  
  
.term {
    grid-column: 1 / -1;
    list-style: none;
    padding: 0;

    display: grid;
    grid-gap: 0px 10px;
    
    grid-template-columns: 10px repeat(var(--total), var(--boxSize)) 10px;
    grid-template-rows: minmax(50px, 1fr);
    
    overflow-x : scroll; 

    scroll-snap-type: x proximity;
    padding-bottom: 0px;
    margin-bottom: 0px;
}



