.table {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    align-content: start;
    overflow-x: hidden;

    border-color: #43c0d6;
    border-width: 10px;
    border-style: solid;
    border-radius: 80px;
    background: #43c0d6;

    width: 50vw;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


.row {
    grid-column: 1 / -1;
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 50px;
}

.row::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }