.table {
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows : 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
    grid-gap : 5px;
    background: #43c0d6; 
    border-color: #43c0d6;
    border-width: 10px;
    border-style: solid;
    border-radius: 80px;

    width : 25vw;
    height : 25vw;

    /* overflow-x : hidden; */
    overflow-x : scroll;
    overflow-y : scroll
}

.row {
    list-style : none;
    display : grid;

    grid-gap : 5px;
    padding: 2px;

    grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
    grid-template-rows: 5vw;

    overflow-x: scroll;
    overflow-y : hidden;

}

::-webkit-scrollbar {
    width : 0 !important;
    height : 0 !important;
}



