<svg #main class="main"
  width="1280"
  height="720"
  viewBox="0 0 1280 720"
  version="1.1"
  id="mainLayer"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg">
  <defs
    id="defs33616">
      <image
      id="tile1"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025541/thumbnails/material-bridge_gipp8x.svg">
      </image>
      <image
      id="tile2"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025540/thumbnails/spotlight_pyk1iu.svg">
      </image>
      <image
      id="tile3"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025540/thumbnails/minecart_kdulb1.svg">
      </image>
      <image
      id="tile4"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025538/thumbnails/fractions-robot_xgv70h.svg">
      </image>
      <image
      id="tile5"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025541/thumbnails/rep-numbers_uhqjap.svg">
      </image>
      <image
      id="tile6"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692026074/thumbnails/coding-1_aoddr0.svg">
      </image>

      <image
      id="tile7"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025541/thumbnails/material-bridge_gipp8x.svg">
      </image>
      <image
      id="tile8"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025540/thumbnails/spotlight_pyk1iu.svg">
      </image>
      <image
      id="tile9"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025540/thumbnails/minecart_kdulb1.svg">
      </image>
      <image
      id="tile10"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025538/thumbnails/fractions-robot_xgv70h.svg">
      </image>
      <image
      id="tile11"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692025541/thumbnails/rep-numbers_uhqjap.svg">
      </image>
      <image
      id="tile12"
      width="300"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1692026074/thumbnails/coding-1_aoddr0.svg">
      </image>
  </defs>
  <g id="layer">
  <g #arena id="arena">
    
  </g>
  
</g>
  
</svg>