
<svg
   width="1280"
   height="720"
   viewBox="0 0 1280 720"
   version="1.1"
   id="svg5"
   inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
   sodipodi:docname="moons-planets-arena.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  
  <defs
     id="defs2">
     <image
        id="arrow-up"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-up_dortwa.svg"
      ></image> 
      <image
        id="arrow-down"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-down_ubw6hs.svg"
      ></image> 
      <image
        id="arrow-left"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-left_i18frt.svg"
      ></image> 
      <image
        id="arrow-right"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-right_gshi7l.svg"
      ></image> 
     <image
        id="empty-input"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685723846/flowers/blank-flower-post_nqtwhv.svg"
      ></image> 
      <image
        id="input-1"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685632259/flowers/sunflower-sign_ihqyxf.svg"
      ></image> 
      <image
        id="input-2"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686082596/flowers/tulip-outline_t9ehd0.svg"
      ></image> 
      <image
        id="input-3"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686664831/flowers/tulip-outline-2_mwcpjp.svg"
      ></image> 
      <image
        id="input-4"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686666030/flowers/tulip-outline-3_dp1gil.svg"
      ></image> 
      <image
        id="vertical-divider"
        height="500"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686750888/flowers/ROpe_jpgv5w.svg"
      ></image> 
      <image
        id="horizontal-divider"
        width="500"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686750965/flowers/ROpe_lcxxgk.svg"
      ></image> 
      <image
        id="target"
        width="120"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686761907/flowers/flower-sign_lqnltu.svg"
      ></image> 
      <image
        id="output-1"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685993137/flowers/sunflower_zehqqm.svg"
      ></image> 
      <image
        id="output-2"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686859558/flowers/tulip-outline_t9ehd0_pnxwai.svg"
      ></image> 
      <image
        id="output-3"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686859444/flowers/tulip-outline-2_mwcpjp_a08aof.svg"
      ></image> 
      <image
        id="output-4"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686859444/flowers/tulip-outline-3_dp1gil_vmv2h5.svg"
      ></image> 
      <image
        id="el-center"
        width="40"
        height="40"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686843610/flowers/shovel_teyyfn.svg"
      ></image> 
      <image
        id="horizontal-div-center"
        width="40"
        height="40"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686844024/flowers/center-horizontal-rope_u3bnoe.svg"
      ></image> 
      <image
        id="vertical-div-center"
        width="40"
        height="40"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686844076/flowers/center-horizontal-rope_psotns.svg"
      ></image> 

  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1" >
     

     <g #arena id="arena">
      <rect
       style="fill:#3d8541;fill-opacity:1;stroke:none;stroke-width:0.632564;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
       id="rect2852"
       width="1280"
       height="720"
       x="0"
       y="0"
       ry="1.1897796" />
     </g>
     <g #input id="input">
      <g #rectangles id="rectangles"></g>
     </g>
     <g #anim id="anim"></g>
     
  </g>
</svg>

<div #playBtn class="playBtn"></div>
<div #nextBtn class="nextBtn"></div>
<div #retryBtn class="retryBtn"></div>
