svg {
    height : 100vh;
    width :auto
}

.playBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1683837963/minecart/play-btn_l7fmra.svg");
    background-size: cover;
    width: 5%;
    padding-bottom: 5%;
    top: 1%;
    left: 1%;  
    position: absolute;
  }