
<svg class="usability"
  width="1280"
  height="720"
  viewBox="0 0 1280 720"
  version="1.1"
  id="usabilityLayer"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg">
  <defs
    id="defs33616">
      <image
      id="pointer"
      width="80"
      href="https://res.cloudinary.com/dxltpgop9/image/upload/v1691008040/icon_handpointer_xo5srl.svg">
      </image>
  </defs>
  <g id="layer">
  <g id="usability">
    <rect
    style="fill:#000000;fill-opacity:0.5;stroke:none;stroke-width:1.24105;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:0.635914;stop-color:#000000"
    id="useRect"
    width="100"
    height="100"
    x="0"
    y="0"
    ry="0" /> 
  </g>
  
</g>
  
</svg>
