
<svg
   width="1280"
   height="720"
   viewBox="0 0 1280 720"
   version="1.1"
   id="svg5"
   inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
   sodipodi:docname="moons-planets-arena.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  
  <defs
     id="defs2">
      <image
        id="input"
        width="75"
        height="105"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686254285/moons-planets/sun_lwpdxw.svg"
      ></image> 
      <image
        id="output"
        width="105"
        height="75"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687268116/ten_cycfll.svg"
      ></image> 

  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1" >

     <g #arena id="arena"></g>
     
  </g>
</svg>